# registry=https://registry.npmjs.org/
# @els-angular:registry=https://nexus.repo.tuxcare.com/repository/els_angular/
# //nexus.repo.tuxcare.com/repository/els_angular/:_auth=2RlbWFyczpDYWJvdCMxOTg2

registry=https://registry.npmjs.org/
@els-angular:registry=https://nexus.repo.tuxcare.com/repository/els-angular/
//nexus.repo.tuxcare.com/repository/els-angular/:_auth=ZWphcm9ja2k6Ylt7bV1fMV1FRVA4M0w/