name: Security Audit

on:
  push:
    branches: [main, dep-patch]
  pull_request:
    branches: [main, dep-patch]

jobs:
  scan:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "24.14.0"
          registry-url: "https://registry.npmjs.org"

      - name: Configure Private Registry
        # We write the auth config to the local .npmrc
        run: |
          echo "@els-angular:registry=https://nexus.repo.tuxcare.com/repository/els-angular/" >> .npmrc
          echo "//nexus.repo.tuxcare.com/repository/els-angular/:_auth=\${NPM_TOKEN}" >> .npmrc
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Clean Environment
        # This ensures a fresh slate before installation
        run: rm -rf node_modules package-lock.json && npm cache clean --force

      - name: Install Dependencies
        # Switched to 'npm install' as the lockfile is removed in the previous step
        run: npm install
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Run npm audit
        run: npm audit --audit-level=high
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
