name: Security Audit

on:
  push:
    branches: [main]
  pull_request:
    branches: [dep-patch]

jobs:
  scan:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "24.14.0"
          # This sets the default registry
          registry-url: "https://registry.npmjs.org"

      - name: Configure Private Registry
        # We manually append the scoped registry to the generated .npmrc
        run: |
          echo "@els-angular:registry=https://nexus.repo.tuxcare.com/repository/els-angular/" >> .npmrc
          echo "//nexus.repo.tuxcare.com/repository/els-angular/:_auth=\${NPM_TOKEN}" >> .npmrc
        env:
          # This maps your GitHub Secret to the environment variable used above
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Run npm audit
        run: npm audit --audit-level=high
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
